<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="">
</head>

<body>
    <table>
        <caption>Demo Table </caption>
        <thead>
            <tr>
                <th>Column 1</th>
                <th>Column 2</th>
                <th>Column 3</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>DATA 1</td>
                <td>DATA 2</td>
                <td>DATA 3</td>
            </tr>
            <tr>
                <td>DATA 4</td>
                <td>DATA 5</td>
                <td>DATA 6</td>
            </tr>
            <tr>
                <td>DATA 7</td>
                <td>DATA 8</td>
                <td>DATA 9</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td> &amp;</td>
                <td>  &copy;</td>
                <td> &dollar; </td>
            </tr>
        </tfoot>
    </table>
    <ol>
        <li>one</li>
        <li>two</li>
        <li>three</li>
    </ol>
    <ul>
        <li>four</li>
        <li>five</li>
        <li>six</li>
    </ul>
    <form action="/action.php">
        name: <input type="text" name="name"/><br>
        age: <input type="number" name="age"/><br>
        <select name="gender" >
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select><br>
    </form>
    <section>This is section </section>
    <article>Enter yoiur data here</article>
    <aside>Your data</aside>
</body>

</html>